h2 {
	text-align: center;
	padding:10px 0px;
	color: black;
	font-family: Adobe Clean;
}

.section {
	color: blue;
	background-color: none;
	text-decoration: none;
}

.value-prop {
	max-width: 25%;
}

h4 {
	color: black;
	font-family: Adobe Clean;
	margin-top: 50px;
}

p {
	font-family: Adobe Clean;
	margin: 10px;
}

